<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>
        ${user.home}/.m2/repository/.
    </localRepository>
    <interactiveMode/>
    <usePluginRegistry/>
    <offline/>
    <pluginGroups/>
    <servers/>
    <mirrors/>
    <proxies/>
    <profiles>
        <profile>
            <id>deploy-build</id>
            <activation>
                <activeByDefault>true</activeByDefault>
                <jdk>1.8</jdk>
            </activation>
            <properties>
                <user.deploy>/media/sarikan/data/work/data/ethercis-deployment/deploy</user.deploy>
                <!-- <user.localDirectoryPath>/media/sarikan/data/work/data/ethercis-deployment/local-maven-repo/</user.localDirectoryPath> -->
                <user.localDirectoryPath>${user.home}/.m2/repository</user.localDirectoryPath>
                <!-- <user.localMavenRepo>/media/sarikan/data/work/data/ethercis-deployment/local-maven-repo/</user.localMavenRepo> -->
            </properties>
        </profile>
    </profiles>
    <activeProfiles/>
</settings>

